//- Account menu

//- Data
include ../data/account_nav.pug

nav#account-menu.account-nav.relative
	ul
		each acc_item in acc_items
			- var active_class = ""; if (account_menu_active == acc_item.title) active_class = " active";
			li(class="nav__item"  + active_class)
				a(href=acc_item.url) #{acc_item.title}