//- Bottom content
.bottom-content.text-center
	.section-heading.gray-theme
		.container_fix
			h2.color-black Доставка и оплата
	.bottom-content__inner
		.container_fix
			p: b.
				Доставка с 12:00 до 19:00! #[br]
				Минимальный заказ 1000 р., плюс доставка курьером в пределах МКАД 300 р.
			p.
				Для выполнения вашего заказа, нам необходимо минимальное время на его обработку. Как правило, минимальное
				время составляет 1-2 часа, а в некоторых случаях оно может увеличиться из за того, что заказ поступил ночью или в
				выходные и праздничные дни. Поэтому, мы просим Вас делать свои заказы заблаговременно! 

			a.btn.btn-lg.btn-primary(href="delivery.html") Читать подробнее