//- Mixins
include ../mixins/product

//- Related products
.section-heading.gray-theme.text-center
	.container_fix
		h2.color-black С этим товаром часто покупают
.section-products 
	.products.related-products
		.page-wrapper
			.swiper-container.products-swiper-container
				.swiper-wrapper
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_1",
							name: "Табак для кальяна Al Fakher современный",
							price: "49 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_2",
							name: "Табак для кальяна Al Fakher (Сhocolate)",
							price: "97 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_3",
							name: "Табак для кальяна Al Fakher (Mint)",
							price: "59 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_4",
							name: "Табак для кальяна Al Fakher (Orange)",
							price: "87 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_1",
							name: "Табак для кальяна Al Fakher современный",
							price: "49 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_2",
							name: "Табак для кальяна Al Fakher (Сhocolate)",
							price: "97 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_3",
							name: "Табак для кальяна Al Fakher (Mint)",
							price: "59 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_4",
							name: "Табак для кальяна Al Fakher (Orange)",
							price: "87 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_1",
							name: "Табак для кальяна Al Fakher современный",
							price: "49 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_2",
							name: "Табак для кальяна Al Fakher (Сhocolate)",
							price: "97 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_3",
							name: "Табак для кальяна Al Fakher (Mint)",
							price: "59 р.",
							btn: "В корзину"
						})
					.swiper-slide
						+product({
							hit: true,
							imgUrl: "hit/product_4",
							name: "Табак для кальяна Al Fakher (Orange)",
							price: "87 р.",
							btn: "В корзину"
						})

				.swiper-pagination