/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-pag-first--hover {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: 0px 0px;
  width: 11px;
  height: 12px;
}
.icon-pag-first {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: -31px 0px;
  width: 11px;
  height: 12px;
}
.icon-pag-last--hover {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: -62px 0px;
  width: 11px;
  height: 12px;
}
.icon-pag-last {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: 0px -32px;
  width: 11px;
  height: 12px;
}
.icon-pag-next--hover {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: -31px -32px;
  width: 6px;
  height: 12px;
}
.icon-pag-next {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: -57px -32px;
  width: 6px;
  height: 12px;
}
.icon-pag-prev--hover {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: -93px 0px;
  width: 6px;
  height: 12px;
}
.icon-pag-prev {
  background-image: url(../img/icons/sprite_pag.png);
  background-position: -93px -32px;
  width: 6px;
  height: 12px;
}
