/*==========  Desktop First  ==========*/

/* Laptop large */
@media only screen and (max-width : 1440px)
	/**/

/* Laptop */
@media only screen and (max-width : 1366px)
	header
		.col_logo
			width: calc(25% - 20px)
		.col_nav
			width: calc(50% - 20px)
		.top-links
			margin-left: 0
			text-align: right
			li
				text-align: left
		.header-menu
			.nav__item
				a
					padding: 0 30px

/* Laptop xs */
@media only screen and (max-width : 1319px)
	/**/

/* Laptop small */
@media only screen and (max-width : 1299px)
	header
		.header-menu
			.nav__item
				a
					padding: 0 20px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.header-menu
		position: fixed
		padding:
			left: 10px
			right: 10px
		left: -220px
		top: 0
		width: 220px
		text-align: left
		background-color: #000
		background-color: rgba(0,0,0,.8)
		transition: .3s
		z-index: 1000
		.nav__item
			a
				color: #fff

	.show
		left: 0 !important

	header
		.top-header
			position: fixed
			width: 100%
			padding-top: 10px
			padding-bottom: 10px
			z-index: 100
		.header-menu
			> ul
				li
					display: block
					padding-left: 0
					padding-right: 0
					border-bottom: 1px solid $accent
					font-size: 12px
					&:last-child
						border-bottom: none
			.nav__item
				> a
					line-height: 1em
					padding: 20px 10px
					&:focus
						background: inherit
				&.active
					> a
						background: inherit
						color: $accent
		.header-phone
			padding-top: 20px
			padding-left: 45px
			span.icon
				margin-right: 0
		.col_logo
			width: calc(50% - 20px)
		.col_nav
			width: calc(25% - 20px)
		.top-links
			li
				padding-top: 20px
				padding-left: 0
			span.icon
				position: static
		.header-cart
			margin-right: 20px

	.nav-btn
		display: block

	header
		.header-menu
			li:hover
				.sub-menu
					display: none
		.sub-menu__item
			&:hover
				.sub-menu__item-list
					display: none

/* Medium Devices */
@media only screen and (max-width : 1024px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 960px)
	/**/

/* Medium Devices, Tablets */
@media only screen and (max-width : 854px)
	/**/

/* Medium Devices, Tablets */
@media only screen and (max-width : 800px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 640px)
	/**/

/* HTC One */
@media only screen and (max-width : 540px)
	header
		.col_phone,
		.col_nav
			width: calc(20% - 20px)
		.col_logo
			width: calc(60% - 20px)


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.nav-btn
		top: 24.5px
		right: -35px
	header
		.col_phone,
		.col_nav
			width: calc(25% - 20px)
		.col_logo
			width: calc(50% - 20px)
		.header-phone
			padding-top: 15px
			padding-left: 35px
		.header-logo
			img
				max-height: 48px
		.top-links 
			li
				padding-top: 15px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px)
	.nav-btn
		top: 15.5px
	header
		.row
			margin: 0 -5px
		.col_phone,
		.col_logo,
		.col_nav
			margin-left: 5px
			margin-right: 5px
		.col_phone,
		.col_nav
			width: calc(28% - 10px)
		.col_logo
			width: calc(44% - 10px)
		.header-phone
			padding-top: 6px
		.header-logo
			img
				max-height: 32px
		.top-links 
			li
				padding-top: 6px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/