//- Variables
- var header_menu_active = "";
- var pagetitle = "Страница не найдена";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug

	body
		include ../partials/common/header.pug
		include ../partials/s-features.pug

		//- Content
		#content.error_content
			.container_fix
				.content__inner.text-center
					img(src="src/image/404.jpg" alt=pagetitle)/
					h2.fz-40 #{pagetitle}
					p.
						К сожалению такая страница не найдена, #[br]
						либо она была удалена
					a.btn.btn-lg.btn-primary(href=base_url) Перейти на главную страницу

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug