//- Variables
- var header_menu_active = "";
- var pagititle = "Страница не найдена";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug
	body
		include ../partials/common/header.pug

		#error-not-found
			//- Content
			#content.error_content
				section.s-error(style={"background-image":"url(src/image/404.png)"})
					.container_fix.text-center
						h1 #{pagititle}
						p.
							К сожалению, такой страницы не существует, #[br]
							либо она была удалена
						a.btn.btn-lg.btn-primary(href=base_url) Перейти на главную

		//- Features
		include ../partials/s-features.pug

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug