//- Variables
- var header_menu_active = "";
- var account_menu_active = "История заказов и платежей";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug
	body
		include ../partials/common/header.pug

		#account-order
			.page-heading.gray-theme
				.container_fix.text-center
					ul.breadcrumb
						li: a(href=base_url) #{home_title}
						li: span #{account_menu_active}
					h1.color-black #{account_menu_active}
			//- Content
			#content.order_content
				section.s-account
					.container_fix
						.row
							.col_1-4
								//- Account menu
								include ../partials/account-menu.pug
							.col_3-4

		//- Features
		include ../partials/s-features.pug
		//- Bottom content
		include ../partials/bottom_content.pug

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug