//- Variables
- var header_menu_active = "Акции и спецпредложения";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug
	body
		include ../partials/common/header.pug

		#information-information
			.relative.container_fix
				.alert.alert-success.alert-dismissible.color-white(style={"display":"none"})
					span Товар добавлен в корзину!
					button.close(type="button" class="close" data-dismiss="alert") ×
			.page-heading.gray-theme
				.container_fix.text-center
					ul.breadcrumb
						li: a(href=base_url) #{home_title}
						li: span #{header_menu_active}
					h1.color-black #{header_menu_active}
			//- Content
			#content.promotions_content

		//- Features
		include ../partials/s-features.pug
		//- Bottom content
		include ../partials/bottom_content.pug

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug