//- Pagination
#pagination
	ul.pagination.text-center
		li.pag-btn.text-left
			a(href="javascript:void(0);")
				span.icon.icon-pag--first.relative.opacity-transition
		li.pag-btn.text-left
			a(href="javascript:void(0);")
				span.icon.icon-pag--prev.relative.opacity-transition
		li.active
			span 1
		li
			a(href="javascript:void(0);") 2
		li
			a(href="javascript:void(0);") 3
		li.pag-btn.text-right
			a(href="javascript:void(0);")
				span.icon.icon-pag--next.relative.opacity-transition
		li.pag-btn.text-right
			a(href="javascript:void(0);")
				span.icon.icon-pag--last.relative.opacity-transition