//- Header menu items
-
	var acc_items = [
		{
			title: "Личный кабинет",
			url: "account.html"
		},
		{
			title: "Изменить мои контакты",
			url: "edit.html"
		},
		{
			title: "Изменить мой пароль",
			url: "password.html"
		},
		{
			title: "История заказов и платежей",
			url: "order.html"
		},
		{
			title: "Выйти с личного кабинета",
			url: "index.html"
		}
	];