-
	var articles = [
		"Табак для кальяна Al Fakher",
		"Немного о табаке для кальяна Starbuzz",
		"Как купить кальян на нашем сайте",
		"Механизм устройства всех кальянов",
		"Как готовить любые виды кальяна",
		"Какой кальян выбрать новичку"
	];