//- Header menu items
-
	var menu_items = [
		{
			title: "О нас",
			url: "about.html"
		},
		{
			title: "Каталог товаров",
			url: "catalog.html"
		},
		{
			title: "Акции и спецпредложения",
			url: "promotions.html"
		},
		{
			title: "Доставка и оплата",
			url: "delivery.html"
		},
		{
			title: "Полезные статьи",
			url: "articles.html"
		},
		{
			title: "Отзывы клиентов",
			url: "reviews.html"
		},
		{
			title: "Наши контакты",
			url: "contacts.html"
		}
	];