-
	var reviews = [
		{
			name: "Ирина",
			time: "22.05.17",
			city: "г. Смоленск",
			text: "Я сама из Татарстана, и очень долго искала сайт чтобы были доступные цены и можно было бы отплатить онлайн! Моя любимка получила очаровательный букетик,и открытка была подобрана прям в тему. И все во время было доставлено! Я очень осталась довольна вашим сайтом и обслуживанием, буду впреть только у вас заказывать! Спасибо что вы есть! Я сайтом, буду впреть только у вас заказывать!"
		},
		{
			name: "Анатолий",
			time: "13.05.17",
			city: "г. Москва",
			text: "Моя любимка получила очаровательный букетик,и открытка была подобрана прям в тему. И все во время было доставлено! Я очень осталась довольна вашим сайтом и обслуживанием, буду впреть только у вас заказывать! Спасибо что вы есть !!!"
		},
		{
			name: "Иннокентий",
			time: "22.05.17",
			city: "г. Новосибирск",
			text: "Мне не удается припомнить такой же восторженной реакции мамы на какой-либо подарок за все годы, что ее знаю :) Я предполагала, что сюрприз будет прекрасным, но не ожидала, что настолько! К сожалению, не всегда есть возможность находиться рядом с близкими в важные для нас моменты… и хорошо, что есть Вы! Спасибо Вам большое за вашу слаженную работу! Приятно было общаться с руководством, заинтересованным в успехе предприятия не меньше, чем клиент, внимательными и участливыми продавцами, водителем. Некоторое время назад я не предполагала, что вовсе не так уж сложно явственно дать почувствовать близкому человеку, что ты рядом с ним в день его рождения, даже находясь за много километров. А когда он этого не ждет, эмоции в ответ получаешь в десятикратном размере!"
		},
		{
			name: "Ирина",
			time: "22.05.17",
			city: "г. Смоленск",
			text: "Я сама из Татарстана, и очень долго искала сайт чтобы были доступные цены и можно было бы отплатить онлайн! Моя любимка получила очаровательный букетик,и открытка была подобрана прям в тему. И все во время было доставлено! Я очень осталась довольна вашим сайтом и обслуживанием, буду впреть только у вас заказывать! Спасибо что вы есть! Я сайтом, буду впреть только у вас заказывать!"
		},
		{
			name: "Анатолий",
			time: "13.05.17",
			city: "г. Москва",
			text: "Моя любимка получила очаровательный букетик,и открытка была подобрана прям в тему. И все во время было доставлено! Я очень осталась довольна вашим сайтом и обслуживанием, буду впреть только у вас заказывать! Спасибо что вы есть !!!"
		},
		{
			name: "Иннокентий",
			time: "22.05.17",
			city: "г. Новосибирск",
			text: "Мне не удается припомнить такой же восторженной реакции мамы на какой-либо подарок за все годы, что ее знаю :) Я предполагала, что сюрприз будет прекрасным, но не ожидала, что настолько! К сожалению, не всегда есть возможность находиться рядом с близкими в важные для нас моменты… и хорошо, что есть Вы! Спасибо Вам большое за вашу слаженную работу! Приятно было общаться с руководством, заинтересованным в успехе предприятия не меньше, чем клиент, внимательными и участливыми продавцами, водителем. Некоторое время назад я не предполагала, что вовсе не так уж сложно явственно дать почувствовать близкому человеку, что ты рядом с ним в день его рождения, даже находясь за много километров. А когда он этого не ждет, эмоции в ответ получаешь в десятикратном размере!"
		},
		{
			name: "Андрей",
			time: "22.05.17",
			city: "г. Смоленск",
			text: "Я сама из Татарстана, и очень долго искала сайт чтобы были доступные цены и можно было бы отплатить онлайн! Моя любимка получила очаровательный букетик,и открытка была подобрана прям в тему. И все во время было доставлено! Я очень осталась довольна вашим сайтом и обслуживанием, буду впреть только у вас заказывать! Спасибо что вы есть! Я сайтом, буду впреть только у вас заказывать!"
		},
		{
			name: "Анатолий",
			time: "13.05.17",
			city: "г. Москва",
			text: "Моя любимка получила очаровательный букетик,и открытка была подобрана прям в тему. И все во время было доставлено! Я очень осталась довольна вашим сайтом и обслуживанием, буду впреть только у вас заказывать! Спасибо что вы есть !!!"
		}
	];
