-
	var reviews = [
		{
			name: "Андрей",
			time: "10.06.17",
			text: "Цвет шахты кальяна золото с синими вставками с тисненым узором. Комплектация: шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс."
		},
		{
			name: "Иван",
			time: "08.06.17",
			text: "Кальяна золото с синими вставками с тисненым узором. Колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция."
		},
		{
			name: "Эльвира",
			time: "04.06.17",
			text: "Цвет шахты кальяна золото с синими вставками с тисненым узором. Комплектация: шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс. Шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс."
		},
		{
			name: "Андрей",
			time: "10.06.17",
			text: "Цвет шахты кальяна золото с синими вставками с тисненым узором. Комплектация: шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс. Шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс."
		},
		{
			name: "Иван",
			time: "08.06.17",
			text: "Кальяна золото с синими вставками с тисненым узором. Колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция."
		},
		{
			name: "Эльвира",
			time: "04.06.17",
			text: "Цвет шахты кальяна золото с синими вставками с тисненым узором. Комплектация: шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс. Шахта. колба стекло, чаша  керамическая, блюдце, шланг кож зам, уплотнители, щипцы, инструкция. Кальян упакован в кейс."
		}
	];
