*::-webkit-input-placeholder
    color: #a9a9a9
    opacity: 1

*:-moz-placeholder
    color: #a9a9a9
    opacity: 1

*::-moz-placeholder
    color: #a9a9a9
    opacity: 1

*:-ms-input-placeholder
    color: #a9a9a9
    opacity: 1

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0

input[type='number']
    -moz-appearance: textfield

body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #a9a9a9
    border-color: #f32e0d
body input:required:valid,
body textarea:required:valid
    color: #232323
    border-color: #acacac

input[type=checkbox],
input[type=radio]
    margin: 0

input:not([type=checkbox]):not([type=radio]),
textarea
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

/**
 * Form elements
 */

.form-control
	font-size: 16px
	transition: border-color .25s ease
	&::placeholder
		color: #a9a9a9

/*	Form field	*/
.form-field
	position: relative
	font-size: 16px
	margin-bottom: 20px
	.form-control
		width: 100%
		height: 50px
		line-height: 48px
		padding-left: 22px
		font-family: $medium
		outline: none
		box-shadow: none
		background: #fff
		border-radius: 4px
		border: 1px solid #ebebeb
		&:hover,
		&:focus
			outline: none
			box-shadow: none
			border-color: #d7d7d7
	textarea.form-control
		height: 161px
		line-height: 1em
		padding-top: 18px
		outline: none
		box-shadow: none
		background: #fff
		resize: unset
	&__icon
		position: absolute
		top: 0
		right: 0
		width: 41px
		height: 100%
		background: inherit
		&:hover .icon
			&::after
				opacity: 1
	&.has-error
		.form-control
			border-color: #f32e0d !important

/* Quantity */
.quantity
	label
		margin-right: 14px
		line-height: 43px
	.form-field
		position: relative
		display: inline-block
		vertical-align: top
		width: 116px
		height: 43px
	.form-control
		width: 100%
		height: 100%
		display: block
		float: left
		padding: 0
		margin: 0
		padding-left: 16px
		border: 1px solid #ebebeb
		&:focus
			outline: 0

.quantity-nav
	float: left
	position: relative
	height: 43px

.quantity-button
	padding-right: 10px
	position: relative
	cursor: pointer
	width: 20px
	text-align: center
	-webkit-transform: translateX(-100%)
	transform: translateX(-100%)
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-o-user-select: none
	user-select: none
	&:hover .icon
		&::after
			opacity: 1

.quantity-button.quantity-up
	position: absolute
	height: 50%
	top: 0

.quantity-button.quantity-down
	position: absolute
	bottom: -1px
	height: 50%

/*	Consent	*/
.consent
	font-size: 12px
	margin-bottom: 46px
	font-family: $medium
	a
		color: #777
		&:hover
			color: $accent

/*	Form head	*/
.form__head
	padding-left: 25px
	margin-bottom: 25px
	h4
		line-height: 59px
		color: #656565

/*  Modal Fancybox */
.fancybox-slide
	.modal
		width: 405px
		overflow: visible
		border-radius: 0
		padding: 0
		&__head
			padding: 35px 10px
		h3
			line-height: 1em
		&__body
			padding: 38px 45px
		&.modal-lg
			width: 519px
			.consent
				padding-left: 75px
				padding-right: 75px
		.form-field textarea.form-control
			height: 132px
	.consent
		padding-left: 17px
		padding-right: 17px
		margin-bottom: 22px
	.success_modal
		width: 350px
		.modal__body
			padding: 42px
		h3
			margin-bottom: 12px
		p
			line-height: 1.2em
	.product__img,
	.product__info
		display: inline-block
		vertical-align: top
		letter-spacing: 0
	.product__img
		width: 124px
		margin-right: 24px
		.thumbnail
			height: 124px
			padding-top: 22px
			img
				max-height: 80px
	.product__info
		width: calc(100% - 148px)
		h5
			margin-top: -4px
			margin-bottom: 8px
		p
			margin-bottom: 26px
			font-size: 12px
			color: #4f4f4f
		.form-field
			margin-bottom: 0
		.price
			display: inline-block
			vertical-align: top
			margin-left: 30px
			line-height: 41px
			font-size: 24px
	hr
		margin-top: 38px
		margin-bottom: 38px

/* Search form */
.search
	.form-control,
	.input-group-btn
		transition: border-color .25s ease
	&:hover,
	&:focus
		.form-control,
		.input-group-btn
			border-color: $accent
	.form-control:focus
		border-color: $accent
		+ .input-group-btn
			border-color: $accent
	.input-group-btn
		&:hover
			.icon::after
				opacity: 1

/*	Select	*/

.select2,
.select2-selection
	outline: none

.select2-container--default
	.select2-selection--single
		background-color: #fff
		border: none
		border-radius: 4px
		.select2-selection__rendered
			line-height: 37px
			color: #313131
		.select2-selection__arrow
			width: 13px
			height: 100%
			top: 0
			right: 14px
			b
				border-style: none
				left: 0
				margin-top: -3.5px
				width: 11px
				height: 7px
				margin-left: 0
				background-image: url("../image/icons/sprite_arrows.png")
				background-position: -147px -98px
				transition: transform .5s ease
	.select2-results>.select2-results__options
		max-height: 400px
		padding-left: 20px
		padding-right: 20px
		border: 1px solid #ebebeb
		box-shadow: 0 0 40px rgb(238, 238, 238)
		border-radius: 4px
		font-family: $medium
		color: #4f4f4f
	.select2-results__option[aria-disabled=true]
		display: none
	.select2-results__option--highlighted[aria-selected]
		position: relative
		background-color: #fff
		color: $accent
		z-index: 10
		&:hover,
		&:focus
	  		color: $accent
	.select2-results__option[aria-selected=true]
		background-color: #fff
		color: $accent

.select2-search--dropdown
	display: none

.select2-container
	.select2-selection--single
		height: 37px
		.select2-selection__rendered
			padding-left: 12px

.select2-container--default.select2-container--open.select2-container--below
	.select2-selection--singl
		border-bottom: 1px solid #fff

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single
	border-bottom-left-radius: 4px
	border-bottom-right-radius: 4px

.select2-container--default.select2-container--open
	.select2-selection--single
		.select2-selection__rendered
			color: $accent
		.select2-selection__arrow b
			    transform: rotate(180deg)

.select2-dropdown
	background-color: #fff
	border: none
	border-radius: 0

.select2-results__option
	padding: 0
	padding-top: 8px
	padding-bottom: 8px
	border-bottom: 1px solid #ebebeb
	&:last-child
		border-bottom: none

.select2-container
	margin-top: 2px

.select2-container--default .select2-selection--single .select2-selection__placeholder
	color: #a9a9a9

/*	Select box	*/
.select-box
	font-size: 0
	margin-bottom: 20px
	.control-label
		width: 70px
		vertical-align: middle
		font-size: 16px
		line-height: 1.2em
		margin-right: 22px
		margin-bottom: 0
	.select-control
		display: inline-block
		width: 100%
	&.with-label
		.select-control
			width: calc(100% - 92px)
	.select2-container
		margin-top: 0
		.select2-selection--single
			height: 50px
			border: 1px solid #ebebeb
			font-size: 16px
			font-family: $medium
			transition: border-color .25s ease
			&:hover
				border-color: #d7d7d7
			.select2-selection__rendered
				padding-left: 22px
				padding-right: 35px
				line-height: 48px
				color: #232323
	.select2-container--default
		.select2-selection--single
			.select2-selection__arrow
				width: 47px
				right: 0
				background-color: transparent
				border-top-right-radius: 4px
				border-bottom-right-radius: 4px
				b
					left: 50%
					margin-left: -5.5px

/*	Dateinput	*/

.form-field
	.input-group.date
		.form-control
			border-right: none
		.btn
			padding: 14px 13px
		.btn-default
			border-left: none
			border-color: #ebebeb
			transition: border-color .25s ease
			&:hover,
			&:focus,
			&:active
				border-color: #ebebeb
				background-color: #fff
				.icon::after
					opacity: 1
		&:hover,
		&:focus
			.btn-default,
			.form-control
				border-color: #d7d7d7


/*	Radio	*/
.radio-controls
	label
		font-weight: normal
		color: $gray
		margin-right: 25px

.radio
	vertical-align: top
	width: 15px
	height: 15px
	margin: 0
.radio + label
	cursor: pointer
	padding: 0 18px
	border-radius: 4px
	transition: color .25s ease, background-color .25s ease
.radio:not(checked)
	position: absolute
	opacity: 0
.radio:not(checked) + label
	position: relative
	color: #a9a9a9
.radio:not(checked)
	+ label
		&:before,
		&:after
			display: none
		&:hover
			color: #232323
			background: #fff
.radio:checked
	+ label
		color: #232323
		background: #fff

.radio-inline
	display: inline-block
	vertical-align: top
	padding-left: 0
	.radio-button
		display: inline-block
		vertical-align: top
		letter-spacing: 0

/* Checkbox */
.checkbox
	vertical-align: top
	margin: 0 3px 0 0
	width: 17px
	height: 17px

.checkbox + label
	cursor: pointer
	line-height: 1em

.checkbox:not(checked)
	position: absolute
	opacity: 0

.checkbox:not(checked) + label
	position: relative
	padding: 0 0 0 23px

.checkbox:not(checked) + label:before
	content: ''
	position: absolute
	top: 0
	left: 0
	width: 16px
	height: 16px
	border-radius: 0
	background: #ffffff
	border: 1px solid #efefef
	box-shadow: none

.checkbox:checked + label:before
	background: url(../image/icons/check.png) no-repeat center

.checkboxes-inline
	.checkbox-field
		display: inline-block
		vertical-align: top
		margin-bottom: 15px
		width: 50%
		letter-spacing: 0

/*  noUiSlider */
.noUi-connect
	background: $accent
.noUi-target
	background: #fff
	border: none
	border-radius: 0
	box-shadow: none
.noUi-horizontal
	height: 2px
	.noUi-handle
		width: 10px
		height: 10px
		top: -5px
		left: -5px
.noUi-handle
	cursor: pointer
	background: $accent
	border: none
	outline: none
	border-radius: 50%
	box-shadow: none
	&::after,
	&::before
		display: none
.noUi-tooltip
	padding: 0
	font-family: $medium
	border: none
	color: #4f4f4f