/**
 * Table styles
 */
/* Orders table */

.table>thead>tr>th
	vertical-align: middle
	padding: 0
	font-size: 22px
	font-family: $medium
	line-height: 67px
	color: #4f4f4f
	border: none
	background: #efefef

.products-table
	.table
		margin-bottom: 25px
	.table>tbody>tr>td
		padding: 20px 0
		border-bottom: 1px solid #efefef
		vertical-align: inherit
		border-top: none
	.table
		thead
			th.products-table__photo
				padding-left: 22px
	&__photo
		width: 179px
	&__name
		width: 491px
	&__price
		width: 187px
	&__quantity
		width: 246px
	&__sum
		width: 177px
	&__button
		width: 40px

	.table
		td.products-table
			&__photo
				.img-thumbnail
					display: block
					padding: 22px 0
					width: 124px
					height: 124px
					border-color: #efefef
					border-radius: 0
					transition: border-color .25s ease
					img
						max-height: 100%
						margin-left: auto
						margin-right: auto
					&:hover
						border-color: $accent
			&__name
				padding-right: 75px
			&__price,
			&__sum
				font-size: 24px
			&__quantity
				.form-field
					margin-bottom: 0

/* Cart total table */

.cart-total-table
	.table
		margin-bottom: 40px
	.table>tbody>tr>td
		padding: 0
		padding-top: 8px
		padding-bottom: 8px
		border: none
		&:first-child
			width: 246px
			font-size: 22px
			font-family: $medium
			color: #4f4f4f
		&:last-child
			width: 217px
			font-size: 24px
			font-family: $bold
			color: #000
	.table>tbody>tr
		&:nth-last-child(2)
			td
				padding-bottom: 15px
		&:last-child
			td
				border-top: 1px solid #efefef
				&:last-child
					font-size: 36px

/* Checkout-table */

.checkout-table
	.table>tbody>tr>td
		padding: 35px 0
	.table
		margin-bottom: 35px
		td.products-table
			&__photo
				width: 149px
				padding-right: 24px
			&__info
				width: 449px
				padding-right: 95px
			&__button
				vertical-align: top
				width: 18px
		.products-table__info
			&__wrapper
				height: 124px
			&__name
				display: block
				margin-bottom: 7px
				line-height: 1.2em
			&__availability
				display: block
				font-size: 12px
				color: #4f4f4f
			.quantity
				position: absolute
				bottom: 0
				left: 0
				.form-field
					margin-bottom: 0
					margin-right: 30px
			&__price
				display: inline-block
				vertical-align: top
				font-size: 24px
				line-height: 41px

/* Checkout total table */

.checkout-total-table
	.table
		margin-bottom: 0
	.table>tbody>tr>td
		padding: 0
		border: none
		vertical-align: middle
		&:first-child
			color: #4f4f4f
			h4
				line-height: 1em
			span
				font-family: $medium
		&:last-child
			font-size: 36px
			line-height: 1em
			font-family: $bold
			color: #000
			text-align: right

/* Order table */

.order-table
	.table
		margin-bottom: 50px
	.table>tbody>tr
		&:first-child
			td
				border-top: none
		>td
			padding: 36px 0
			vertical-align: middle
	.table
		thead
			tr
				th.order-table
					&__product
						padding-left: 22px
						width: 315px
					&__date
						width: 188px
					&__status
						width: 269px
					&__price
						width: 157px
					&__button
						width: 39px
		tbody
			tr
				td.order-table
					&__product
						padding-left: 22px
						padding-right: 50px
						line-height: 1.2em
					&__status
						span
							&.approved
								color: #119d7a
							&.not-done
								color: #ed4429
					&__price
						font-size: 24px